PORT=8688
HOST=127.0.0.1
UPSTREAM_BASE_URL=http://127.0.0.1:8000
UPSTREAM_CHAT_COMPLETIONS_URL=
UPSTREAM_PROXY_URL=
UPSTREAM_API_KEY=
DEFAULT_MODEL=
MODEL_MAP=
UNSUPPORTED_TOOL_POLICY=ignore
UPSTREAM_TIMEOUT_MS=30000
UPSTREAM_STREAMING=true
